* {
  margin: 0px;
  padding: 0px;
}
.arrow {
  position: fixed;
  /* border: 2px solid white; */
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px #053b50; /* Adds shadow */
  margin-left: 20px;
  margin-top: 20px;
  font-size: 40px;
  color: white;
}
.top {
  background-image: url(bg4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 65%; /* Width Height */
  display: flex;
  /* border: 1px solid gray; */
  /* border-radius: 20%; */
  height: 100vh;
  width: 100%;
  background-color: black;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
}
.top h1 {
  /* background-color: black; */
  padding: 10px;
  /* border: 1px solid #053b50; */
  /* box-shadow: 0px 0px 20px 5px #053b50; Adds shadow */
  border-radius: 20px;
  font-size: 50px;
  color: white;
}
#blog-container {
  display: flex;
  height: fit-content;
  background-color: black;
  flex-wrap: wrap;
  justify-content: center;
}
.blog-card {
  margin: 30px;
  height: 400px;
  width: 400px;
  /* background-color: black; */
  /* opacity: 0.5; */
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.blog-card:hover {
  box-shadow: 0px 0px 10px 5px #053b50; /* Adds shadow */
}

.blog-card img {
  margin: 5px;
  width: 200px;
  height: 150px;
  object-fit: fill;
  /* margin-bottom: 1rem; */
  border-radius: 5px;
  padding: 10px;
}
.card {
  display: flex;
  flex-direction: column;
}
.blog-card h2 {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.blog-card p {
  color: white;
  font-size: 20px;
  padding-top: 0.7rem;
}
